
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <h2>Login Page</h2>


    <form (submit)="onLogin(loginForm)" #loginForm=ngForm *ngIf="!isLoading">
        <mat-form-field>
            <input matInput placeholder="Enter email address" type="email" #emailInput="ngModel" name="email" ngModel required email>
            <mat-error *ngIf="emailInput.invalid">Please enter valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password please..." #passwordInput="ngModel" name="password" ngModel required >
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
    </form>

   
</mat-card>
<!-- <p> {{newPost}} </p> -->