mat-card{
    width: 40%;
    margin: auto auto;
    opacity: .9;
}

mat-form-field{
    display: block;
    margin: auto auto;
}

.inline{
    width: 30%;
    display: table;
    margin:auto;

}
h5{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    color: #018def;
    text-transform: capitalize;
}

button{
    display: block;
    margin: auto auto;
}



.active{
    color: #018def;
}
.nav{
    background-color: #fff;
    color: #777;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.nav>li{
    cursor: not-allowed;
}