<mat-toolbar >
     <a  class="main_heading" routerLink="/" *ngIf='!userIsAuthenticated' > b<sub>ooking</sub>.t<sub>ravelism</sub>.i<sub>n</sub> </a>

    <span> <a class="hide_heading" *ngIf='userIsAuthenticated' routerLink="/booking"> MY BOOKINGS</a></span>

    <span class="spacer"></span>
    <p *ngIf='userIsAuthenticated'>Welcome : {{username}}</p>

    <ul>
        <li *ngIf='userIsAuthenticated'>
            <a mat-button routerLinkActive="accent" routerLink="/create">Plan your trip</a>
        </li>
        
        <li *ngIf='!userIsAuthenticated'>
            <a mat-button routerLinkActive="accent" routerLink="/login">Login</a>
        </li>

        <li *ngIf='!userIsAuthenticated'>
            <a mat-button routerLinkActive="accent" routerLink="/signup">Sign Up</a>
        </li>
        
        <li *ngIf='userIsAuthenticated'>
            <button mat-button (click)="onLogout()" >Logout</button> 
        </li>
    </ul>
</mat-toolbar>
