a{
    text-decoration: none;
    color: #fff;  
    font-size: 1.1rem;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.spacer{
    /* display: flex; */
    flex : 1 1 auto; 
}

p{
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.72), 0 0 14px rgba(255, 255, 255, 0.45);
 
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
}

mat-toolbar{
    background-color: transparent;
    width: 90%;
    height: 100px;
    margin: auto;
    letter-spacing: 3px;
    font-size: 1.12rem;
}


@media only screen and (max-width: 968px) {
    mat-toolbar {
        margin: 0 0 auto;
      letter-spacing: 0;
     } }


     @media only screen and (max-width: 1100px) {
        mat-toolbar {
            margin: 0 0 auto;
         } }
     

.main_heading{
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-family: 'Amatic SC', cursive;
    text-transform: capitalize;
    
   
}
@media only screen and (max-width: 968px) {
    .main_heading {
      letter-spacing: 2px;
      font-size: 4rem; } }


.font_color{
    color:#ffc04e;
}

ul li a, button{
    background-color: #018def;
    margin: 20px;
    border-radius: 5px 20px;
    padding: 1px 20px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 1.1rem;
}
@media only screen and (max-width: 968px) {
    ul li a,button {
      letter-spacing: 1.5px;
      font-size: .8rem;
        margin: 10px;
        padding: 1px 10px;

    } }

ul li p{
    
    margin: 20px;
    padding: 1px 20px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 1.1rem;
    font-weight: 500;
}




@media only screen and (max-width: 968px) {
    ul li p  {
      letter-spacing: 1px;
      margin: 5px;
      padding: 1px 10px;
      font-size: .7rem; } }

.hide_heading{
    font-size: 2rem;
}

@media only screen and (max-width: 968px) {
   .hide_heading {
     font-size: 1.5rem; 
    } 
}



