<mat-toolbar >
     <a  class="main_heading" routerLink="/" *ngIf='!userIsAuthenticated' > b<sub>ooking</sub>.t<sub>ravelism</sub>.i<sub>n</sub> </a>

    <span> <a style="font-size: 2rem;" *ngIf='userIsAuthenticated' routerLink="/"> MY BOOKINGS</a></span>
    <!-- <button *ngIf="userIsAuthenticated" mat-raised-button color="accent" (click)="showPanels()">Image Gallery</button> -->

    <span class="spacer"></span>
    <ul>
        <li *ngIf='userIsAuthenticated'><p>Welcome : </p></li>
        <li *ngIf='userIsAuthenticated'>
            <a mat-button routerLinkActive="font_color" routerLink="/create">Book now !</a>
        </li>
        
        <li *ngIf='!userIsAuthenticated'>
            <a mat-button routerLinkActive="font_color" routerLink="/login">Login</a>
        </li>

        <li *ngIf='!userIsAuthenticated'>
            <a mat-button routerLinkActive="font_color" routerLink="/signup">Sign Up</a>
        </li>
        
        <li *ngIf='userIsAuthenticated'>
            <button mat-button (click)="onLogout()" >Logout</button> 
        </li>
    </ul>
</mat-toolbar>