

mat-card{
    width: 55%;
    /* background-color: #018def; */
    color: #fff;
    background-image: linear-gradient(to right bottom, #D6EAF8 , #037acf);

    margin: auto auto;
}

.cippath{
    margin: auto auto;
    height: 67vh;
    width: 50vw;
    background-image:  linear-gradient(to right bottom, #EBF5FB  , #2EA3F4);
    clip-path: polygon(85% 0,100% 50%,85% 100%,0 100%,15% 50%, 0 0);
    color: #fff;
}

h3{
    color: #fff;
    /* font-weight: 500; */
    font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width:1050px) {
    h3 {
      font-size: .9rem; 
    } }

    @media only screen and (max-width:968px) {
        h3 {
          font-size: .78rem; 
        } }
        @media only screen and (max-width:790px) {
            h3 {
              font-size: .62rem; 
            } }
svg{
    fill: #fff;
}

.strong_data{
   color: #333  ; 
   font-size: 1.05rem ;
   letter-spacing: 4px; 
   text-transform: capitalize;
}
@media only screen and (max-width:1050px) {
    .strong_data {
      font-size: .8rem; 
    } }

    @media only screen and (max-width:968px) {
        .strong_data {
          font-size: .68rem; 
        } }
        @media only screen and (max-width:790px) {
            .strong_data {
              font-size: .60rem; 
            } }

.data{

    color: #fff ;
    margin: auto auto;
    padding: 20px 0;
    text-align: center;
    width: 350px;
    height: 58vh;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;

    /* position: absolute;
    top: 20%;
    left: 25%; */
}
@media only screen and (max-width:1050px) {
    .data {
      font-size: .8rem; 
    } }

    @media only screen and (max-width:968px) {
        .data {
          font-size: .68rem; 
        } }
        @media only screen and (max-width:790px) {
            .data {
              font-size: .6rem; 
            } }
            mat-spinner{
              margin: auto auto;
          }

          .active{
            color: #018def;
          }
          .nav{
            background-color: #fff;
            color: #777;
            font-size: 1.2rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 5px;
          }
          .nav>li{
            cursor: not-allowed;
          }